In [22]:
#import needed Python libraries
import numpy as np
import csv
import random
import datetime as dt
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as scistats
import math
import pylab
import statsmodels as sm

In [23]:
#graphics parameters of the notebook
# display graphs inline
%matplotlib inline

# Make graphs prettier
pd.set_option('display.max_columns', 15)
pd.set_option('display.width', 400)
pd.set_option('plotting.matplotlib.register_converters', True)

# Make the fonts bigger
plt.rc('figure', figsize=(14, 7))
plt.rc('font', family='normal', weight='bold', size=15)
#inegrate data from 2009-2010 to 2018-2019 seasons from different files
data_18_19 = pd.read_csv("./data/2018_2019.csv", parse_dates=True)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
data_17_18 = pd.read_csv("./data/2017_2018.csv", parse_dates=True)
data_16_17 = pd.read_csv("./data/2016_2017.csv", parse_dates=True)
data_15_16 = pd.read_csv("./data/2015_2016.csv", parse_dates=True)
data_14_15 = pd.read_csv("./data/2014_2015.csv", parse_dates=True)
data_13_14 = pd.read_csv("./data/2013_2014.csv", parse_dates=True)
data_12_13 = pd.read_csv("./data/2012_2013.csv", parse_dates=True)
data_11_12 = pd.read_csv("./data/2011_2012.csv", parse_dates=True)
data_10_11 = pd.read_csv("./data/2010_2011.csv", parse_dates=True)
data_09_10 = pd.read_csv("./data/2009_2010.csv", parse_dates=True)
data_08_09 = pd.read_csv("./data/2008_2009.csv", parse_dates=True)
#data_07_08 = pd.read_csv("./data/2007_2008.csv", parse_dates=True)
#data_06_07 = pd.read_csv("./data/2006_2007.csv", parse_dates=True)
#data_05_06 = pd.read_csv("./data/2005_2006.csv", parse_dates=True)

#integrate data in a single df
raw_data = pd.concat([data_18_19, data_17_18, data_16_17, data_15_16, data_14_15, data_13_14, data_12_13, data_11_12, data_10_11, data_09_10, data_08_09])
print(raw_data)

#Select useful features for datavisualization and analysis purposes
data_table = raw_data[["Date", "HomeTeam", "AwayTeam", "FTHG", "FTAG",
                    "FTR", "HTAG", 'B365A', 'B365D', 'B365H', 'BSA', 
                    'BSD', 'BSH', 'BWA', 'BWD', 'BWH', 'GBA', 'GBD',
                    'GBH', 'IWA', 'IWD', 'IWH', 'LBA', 'LBD', 'LBH',
                    'PSA', 'PSD', 'PSH', 'SBA', 'SBD', 'SBH', 'SJA',
                    'SJD', 'SJH', 'VCA', 'VCD', 'VCH', 'WHA','WHD', 'WHH']]

#convert date format to YYYY-MM-DD classic format
data_table.Date = data_table.Date.map(lambda x : "20" + x[6:8] + "-" + x[3:5] + "-" + x[0:2])

#sort data by date
data_table.sort_values('Date', inplace=True)

#reset data indexes
data_table = data_table.reset_index(drop=True)

#create matchID column
data_table['matchID'] = data_table.index

#create season feature
data_table['Season'] = 0
data_table.Season = data_table.Date.map(lambda x : int(x[0:4]) if int(x[5:7]) > 6 else int(x[0:4]) - 1)

#null values test
data_table.isnull().any()

#create teams list
teams = data_table['HomeTeam'].unique()
print(teams)

#create seasons list
seasons = np.sort(data_table['Season'].unique())
print(seasons)

#create dictionary containing teams list by season
teams_by_season = {season : data_table[data_table['Season'] == season]['HomeTeam'].unique() for season in seasons}

    17Div      Date      HomeTeam        AwayTeam  FTHG  FTAG FTR  ...  GBA   BSH  BSD   BSA   SBH  SBD   SBA
0      E0  10/08/18    Man United       Leicester     2     1   H  ...  NaN   NaN  NaN   NaN   NaN  NaN   NaN
1      E0  11/08/18   Bournemouth         Cardiff     2     0   H  ...  NaN   NaN  NaN   NaN   NaN  NaN   NaN
2      E0  11/08/18        Fulham  Crystal Palace     0     2   A  ...  NaN   NaN  NaN   NaN   NaN  NaN   NaN
3      E0  11/08/18  Huddersfield         Chelsea     0     3   A  ...  NaN   NaN  NaN   NaN   NaN  NaN   NaN
4      E0  11/08/18     Newcastle       Tottenham     1     2   A  ...  NaN   NaN  NaN   NaN   NaN  NaN   NaN
..    ...       ...           ...             ...   ...   ...  ..  ...  ...   ...  ...   ...   ...  ...   ...
375   NaN  24/05/09     Liverpool       Tottenham     3     1   H  ...  6.0  1.50  3.9  6.50  1.53  3.6  5.75
376   NaN  24/05/09      Man City          Bolton     1     0   H  ...  4.5  1.75  3.3  5.00  1.70  3.4  4.50
377   NaN  24/05/09    Sunderland         Chelsea     2     3   A  ...  1.9  3.75  3.6  1.91  3.80  3.4  1.85
378   NaN  24/05/09      West Ham   Middlesbrough     2     1   H  ...  3.0  2.25  3.3  3.00  2.20  3.3  2.90
379   NaN  24/05/09         Wigan      Portsmouth     1     0   H  ...  3.3  2.05  3.3  3.50  2.10  3.2  3.20

[4180 rows x 78 columns]
['Arsenal' 'Bolton' 'Everton' 'Hull' 'Middlesbrough' 'Sunderland'
 'West Ham' 'Chelsea' 'Aston Villa' 'Man United' 'Liverpool' 'Newcastle'
 'Tottenham' 'West Brom' 'Blackburn' 'Fulham' 'Stoke' 'Man City' 'Wigan'
 'Portsmouth' 'Wolves' 'Birmingham' 'Burnley' 'Blackpool' 'QPR' 'Swansea'
 'Norwich' 'Reading' 'Southampton' 'Crystal Palace' 'Cardiff' 'Leicester'
 'Bournemouth' 'Watford' 'Brighton' 'Huddersfield']
[2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018]

/var/folders/c2/dnpzswqd7ll8qj2knwvlk3v80000gn/T/ipykernel_3208/2726871252.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_table.Date = data_table.Date.map(lambda x : "20" + x[6:8] + "-" + x[3:5] + "-" + x[0:2])
/var/folders/c2/dnpzswqd7ll8qj2knwvlk3v80000gn/T/ipykernel_3208/2726871252.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_table.sort_values('Date', inplace=True)

In [24]:
#match day feature construction for HomeTeam and AwayTeam (1st match of a season --> 1, last --> 38 because 20 team play by season)
data_table_HT_grpby = data_table.groupby('HomeTeam')[['Date']]
data_table_AT_grpby = data_table.groupby('AwayTeam')[['Date']]

# Calcola la giornata di campionato
def row2matchWeek_HT(row):
    x = row['HomeTeam']
    y = row['Date']
    df1 = data_table_HT_grpby.get_group(x)
    df2 = data_table_AT_grpby.get_group(x)
    df1 = df1[df1['Date'] < y]
    df2 = df2[df2['Date'] < y]
    day = (1 + len(df1) + len(df2)) % 38
    return 38 if day == 0 else day 

def row2matchWeek_AT(row):
    x = row['AwayTeam']
    y = row['Date']
    df1 = data_table_HT_grpby.get_group(x)
    df2 = data_table_AT_grpby.get_group(x)
    df1 = df1[df1['Date'] < y]
    df2 = df2[df2['Date'] < y]
    day = (1 + len(df1) + len(df2)) % 38
    return 38 if day == 0 else day

data_table['HomeTeamDay'] = data_table.apply(row2matchWeek_HT, axis=1)
data_table['AwayTeamDay'] = data_table.apply(row2matchWeek_AT, axis=1)

# Calcolo il numero di partite giocate in casa e fuori per ogni team in ogni stagione
data_table['ones'] = 1
for season in seasons:
    for team in teams_by_season[season]:
        sH = data_table[(data_table['HomeTeam'] == team) & (data_table['Season'] == season)]['ones']
        data_table.loc[sH.index, 'HomeTeamHomeDay'] = sH.cumsum()
        
        sA = data_table[(data_table['AwayTeam'] == team) & (data_table['Season'] == season)]['ones']
        data_table.loc[sA.index, 'AwayTeamAwayDay'] = sA.cumsum()
        
# Nel dataset ho una colonna FTR (full time result) che riporta H se ha vinto la squadra in casa, altrimenti A
def resultConverter(A):
    if A == 'H':
        return 'W'
    elif A =='A':
        return 'L'
    else:
        return 'D'

def resultInverser(A):
    if A == 'W':
        return 'L'
    elif A == 'L':
        return 'W'
    else:
        return 'D'
        
def ordinalResultConverter(A):
    if A == 'W':
        return 1
    elif A == 'L':
        return 0
    else:
        return 0.5

#make dummies variables for FTR (result of match), HW = Home Win, AW = Away Win, D = draw
data_table['HW'] = data_table.FTR.map(lambda x : 1 if x == 'H' else 0)
data_table['AW'] = data_table.FTR.map(lambda x : 1 if x == 'A' else 0)
data_table['D']= data_table.FTR.map(lambda x : 1 if x == 'D' else 0)

#make 2 different variable for the result of a match : 1 for the home team point of view, the other for the away team pt of view
data_table['HR'] = data_table.FTR.map(lambda x : resultConverter(x))
data_table['AR'] = data_table.HR.map(lambda x : resultInverser(x))

#make ordinal variable for the home team point of view result (1 = win, 0.5 = Draw, 0 = loss)
data_table['ordinalHR'] = data_table.HR.map(lambda x : ordinalResultConverter(x))

In [25]:
grp_by_HT = data_table.groupby('HomeTeam')
grp_by_AT = data_table.groupby('AwayTeam')
 
grp_by_HT_and_season = data_table.groupby(['HomeTeam', 'Season'])
grp_by_AT_and_season = data_table.groupby(['AwayTeam', 'Season'])

#past performance features engineering
for team in teams:
    
    #we retrieve results series of the team
    teamHomeResults_s = grp_by_HT.get_group(team)['HR']
    teamAwayResults_s = grp_by_AT.get_group(team)['AR']
    #combine these 2 series and sort the obtained serie
    teamResults_s = pd.concat([teamHomeResults_s, teamAwayResults_s]).sort_index()

    #(i) compute k_last_HR and k_last_AR --> 6 features
    # Dizionario {<partita>:<risultato>}
    # {0: nan, 21: 'W', 49: 'W', 69: 'L', 96: 'W', 113: 'D', ..., 4073: 'W', 4097: 'W', 4113: 'W', 4142: 'W', 4166: 'L'}
    # TODO: commenta cosa fa
    lag1TeamResults_d = teamResults_s.shift(1).to_dict()
    lag2TeamResults_d = teamResults_s.shift(2).to_dict()
    lag3TeamResults_d = teamResults_s.shift(3).to_dict()
    
    #k_last_HTR and k_last_ATR are just shifted versions of the results series
    data_table.loc[teamHomeResults_s.index,'1_last_HTR'] = data_table.loc[teamHomeResults_s.index,:].index.map(lambda x : lag1TeamResults_d[x])
    data_table.loc[teamHomeResults_s.index,'2_last_HTR'] = data_table.loc[teamHomeResults_s.index,:].index.map(lambda x : lag2TeamResults_d[x])
    data_table.loc[teamHomeResults_s.index,'3_last_HTR'] = data_table.loc[teamHomeResults_s.index,:].index.map(lambda x : lag3TeamResults_d[x])
    data_table.loc[teamAwayResults_s.index,'1_last_ATR'] = data_table.loc[teamAwayResults_s.index,:].index.map(lambda x : lag1TeamResults_d[x])
    data_table.loc[teamAwayResults_s.index,'2_last_ATR'] = data_table.loc[teamAwayResults_s.index,:].index.map(lambda x : lag2TeamResults_d[x])
    data_table.loc[teamAwayResults_s.index,'3_last_ATR'] = data_table.loc[teamAwayResults_s.index,:].index.map(lambda x : lag3TeamResults_d[x])
    
    #(ii) Compute k_last_HTRH and k_last ATAR --> 4 features
    #we need here to diferentiate home results and past results. Python dictionaries allows the program to access to
    #needed data faster than with a Pandas serie
    # Dovendo predire il risultato finale, assumiamo che sia più dipendente dai risultati a fine match (full time - FT), 
    # piuttosto che dai risultati a metà match (half time - HT) => consideriamo quindi sono gli half time dell'ultima e penultima partita
    lag1TeamHomeResults_d = teamHomeResults_s.shift(1).to_dict()
    lag2TeamHomeResults_d = teamHomeResults_s.shift(2).to_dict()
    lag1TeamAwayResults_d = teamAwayResults_s.shift(1).to_dict()
    lag2TeamAwayResults_d = teamAwayResults_s.shift(2).to_dict()
    
    data_table.loc[teamHomeResults_s.index,'1_last_HTHR'] = data_table.loc[teamHomeResults_s.index,:].index.map(lambda x : lag1TeamHomeResults_d[x])
    data_table.loc[teamHomeResults_s.index,'2_last_HTHR'] = data_table.loc[teamHomeResults_s.index,:].index.map(lambda x : lag2TeamHomeResults_d[x])
    data_table.loc[teamAwayResults_s.index,'1_last_ATAR'] = data_table.loc[teamAwayResults_s.index,:].index.map(lambda x : lag1TeamAwayResults_d[x])
    data_table.loc[teamAwayResults_s.index,'2_last_ATAR'] = data_table.loc[teamAwayResults_s.index,:].index.map(lambda x : lag2TeamAwayResults_d[x])
    
    #(iii) rates based features : we need to get only season specific results series (to avoid taking previous season results into season rates)
    for season in seasons:
        
        if team in teams_by_season[season]:
            #retrieve season specific results serie (1 win serie, 1 draw serie the loss  will be computed thanks to
            #the 2 others)
            teamHomeResultsW_s = grp_by_HT_and_season.get_group((team,season))['HW']
            teamAwayResultsW_s = grp_by_AT_and_season.get_group((team,season))['AW']
            teamResultsW_s = pd.concat([teamHomeResultsW_s, teamAwayResultsW_s]).sort_index()

            teamHomeResultsD_s = grp_by_HT_and_season.get_group((team,season))['D']
            teamAwayResultsD_s = grp_by_AT_and_season.get_group((team,season))['D']
            teamResultsD_s = pd.concat([teamHomeResultsD_s, teamAwayResultsD_s]).sort_index()
        
            #(0) compute HW rates, HL rates, AW rates, LW rates since begining of season
            teamResultsWCumul_d = teamResultsW_s.shift(1).cumsum().to_dict()
            teamResultsDCumul_d = teamResultsD_s.shift(1).cumsum().to_dict()

            #(i) compute 7_HTW_rate, 12_HTW_rate, 7_HTD_rate, 12_HTD_rate, 7_ATW_rate, 12_ATW_rate, 7_ATD_rate, 12_ATD_rate --> 8 features
            # Esempio del 7_HTW_rate:
            #   1. Mi posiziono su una partita X e voglio calcolare la media M dei risultati precedenti alla partita (X-1, X-2, ..., X-7), quindi shifto a dx
            #       per non considerare nella M la partita stessa X e per avere M nella stessa posizione di X (sfrutto le stesse matrici su cui eseguo i calcoli) 
            #   2. Poi si fissa una finestra larga 7, e si calcola la media di un sottoinsieme di dati, ma per farlo è necessario 
            #       ci siano almeno 5 valori nella finestra. La finestra parte con il sottoinsieme di dati {0}, poi {0, 15} -> {0, 15, 21} -> ...
            # {<matchID>: <media>}
            # {0: nan, 15: nan, 21: nan, 30: nan, 43: nan, 49: 0.8, 60: 0.6666666666666666, 69: 0.5714285714285714, ...}
            win7TeamResultsW_d = teamResultsW_s.shift(1).rolling(window = 7, min_periods = 5).mean().to_dict()
            win12TeamResultsW_d = teamResultsW_s.shift(1).rolling(window = 12, min_periods = 8).mean().to_dict()
            win7TeamResultsD_d = teamResultsD_s.shift(1).rolling( window = 7, min_periods = 5).mean().to_dict()
            win12TeamResultsD_d = teamResultsD_s.shift(1).rolling( window = 12, min_periods = 8).mean().to_dict()
        
            data_table.loc[teamHomeResultsW_s.index,'HTW_rate'] = data_table.loc[teamHomeResultsW_s.index,:].index.map(lambda x : teamResultsWCumul_d[x])
            data_table.loc[teamAwayResultsW_s.index,'ATW_rate'] = data_table.loc[teamAwayResultsW_s.index,:].index.map(lambda x : teamResultsWCumul_d[x])
            data_table.loc[teamHomeResultsW_s.index,'HTD_rate'] = data_table.loc[teamHomeResultsW_s.index,:].index.map(lambda x : teamResultsDCumul_d[x])
            data_table.loc[teamAwayResultsW_s.index,'ATD_rate'] = data_table.loc[teamAwayResultsW_s.index,:].index.map(lambda x : teamResultsDCumul_d[x])
        
            data_table.loc[teamHomeResultsW_s.index,'7_HTW_rate'] = data_table.loc[teamHomeResultsW_s.index,:].index.map(lambda x : win7TeamResultsW_d[x])
            data_table.loc[teamHomeResultsW_s.index,'12_HTW_rate'] = data_table.loc[teamHomeResultsW_s.index,:].index.map(lambda x : win12TeamResultsW_d[x])
            data_table.loc[teamAwayResultsW_s.index,'7_ATW_rate'] = data_table.loc[teamAwayResultsW_s.index,:].index.map(lambda x : win7TeamResultsW_d[x])
            data_table.loc[teamAwayResultsW_s.index,'12_ATW_rate'] = data_table.loc[teamAwayResultsW_s.index,:].index.map(lambda x : win12TeamResultsW_d[x])
        
            data_table.loc[teamHomeResultsD_s.index,'7_HTD_rate'] = data_table.loc[teamHomeResultsD_s.index,:].index.map(lambda x : win7TeamResultsD_d[x])
            data_table.loc[teamHomeResultsD_s.index,'12_HTD_rate'] = data_table.loc[teamHomeResultsD_s.index,:].index.map(lambda x : win12TeamResultsD_d[x])
            data_table.loc[teamAwayResultsD_s.index,'7_ATD_rate'] = data_table.loc[teamAwayResultsD_s.index,:].index.map(lambda x : win7TeamResultsD_d[x])
            data_table.loc[teamAwayResultsD_s.index,'12_ATD_rate'] = data_table.loc[teamAwayResultsD_s.index,:].index.map(lambda x : win12TeamResultsD_d[x])

        #(ii) compute 5_HTHW_rate and 5_ATAW_rate
        win5TeamResultsHomeW_d = teamHomeResultsW_s.shift(1).rolling( window = 5, min_periods = 3).mean().to_dict()
        win5TeamResultsAwayW_d = teamAwayResultsW_s.shift(1).rolling( window = 5, min_periods = 3).mean().to_dict()
        data_table.loc[teamHomeResultsW_s.index,'5_HTHW_rate'] = data_table.loc[teamHomeResultsW_s.index,:].index.map(lambda x : win5TeamResultsHomeW_d[x])
        data_table.loc[teamAwayResultsW_s.index,'5_ATAW_rate'] = data_table.loc[teamAwayResultsW_s.index,:].index.map(lambda x : win5TeamResultsAwayW_d[x])
        
        #(iii) compute HTHW_rate, ATAW_rate, HTHD_rate, ATAD_rate
        teamHomeResultsCumulW_d = teamHomeResultsW_s.shift(1).cumsum().to_dict()
        teamHomeResultsCumulD_d = teamHomeResultsD_s.shift(1).cumsum().to_dict()
        teamAwayResultsCumulW_d = teamAwayResultsW_s.shift(1).cumsum().to_dict()
        teamAwayResultsCumulD_d = teamAwayResultsD_s.shift(1).cumsum().to_dict()
        data_table.loc[teamHomeResultsW_s.index,'HTHW_rate'] = data_table.loc[teamHomeResultsW_s.index,:].index.map(lambda x : teamHomeResultsCumulW_d[x])
        data_table.loc[teamHomeResultsW_s.index,'HTHD_rate'] = data_table.loc[teamHomeResultsW_s.index,:].index.map(lambda x : teamHomeResultsCumulD_d[x])
        data_table.loc[teamAwayResultsW_s.index,'ATAW_rate'] = data_table.loc[teamAwayResultsW_s.index,:].index.map(lambda x : teamAwayResultsCumulW_d[x])
        data_table.loc[teamAwayResultsW_s.index,'ATAD_rate'] = data_table.loc[teamAwayResultsW_s.index,:].index.map(lambda x : teamAwayResultsCumulD_d[x])


        
#compute missing features k_XTL_rate thanks to the k_XTW_rate and k_XTD_rate features
data_table.loc[:,'7_HTL_rate'] = 1 - (data_table['7_HTW_rate'] + data_table['7_HTD_rate'])
data_table.loc[:,'12_HTL_rate'] = 1 - (data_table['7_HTW_rate'] + data_table['7_HTD_rate'])
data_table.loc[:,'7_ATL_rate'] = 1 - (data_table['7_ATW_rate'] + data_table['7_ATD_rate'])
data_table.loc[:,'12_ATL_rate'] = 1 - (data_table['7_ATW_rate'] + data_table['7_ATD_rate'])

#compute missing HTL_rate, ATL_rate with features with the wins and draws features
data_table.loc[:,'HTW_rate'] = data_table['HTW_rate']/data_table['HomeTeamDay']
data_table.loc[:,'ATW_rate'] = data_table['ATW_rate']/data_table['AwayTeamDay']
data_table.loc[:,'HTD_rate'] = data_table['HTD_rate']/data_table['HomeTeamDay']
data_table.loc[:,'ATD_rate'] = data_table['ATD_rate']/data_table['AwayTeamDay']
data_table.loc[:,'HTL_rate'] = 1 - (data_table['HTW_rate'] + data_table['HTD_rate'])
data_table.loc[:,'ATL_rate'] = 1 - (data_table['ATW_rate'] + data_table['ATD_rate'])

#we finish to compute HTHW_rate, ..., ATAD_rate features and compute corresponding loss features
data_table.loc[:,'HTHW_rate'] = data_table['HTHW_rate']/data_table['HomeTeamHomeDay']
data_table.loc[:,'ATAW_rate'] = data_table['ATAW_rate']/data_table['AwayTeamAwayDay']
data_table.loc[:,'HTHD_rate'] = data_table['HTHD_rate']/data_table['HomeTeamHomeDay']
data_table.loc[:,'ATAD_rate'] = data_table['ATAD_rate']/data_table['AwayTeamAwayDay']
data_table.loc[:,'HTHL_rate'] = 1 - (data_table['HTHW_rate'] + data_table['HTHD_rate'])
data_table.loc[:,'ATAL_rate'] = 1 - (data_table['ATAW_rate'] + data_table['ATAD_rate'])

data_table.to_csv("./data/features.csv")

# ELO score

In [26]:
#Elo ranking method parameters
k = 20.0
d = 400.0
c = 10.0

#Initialization of output containers
ELO_dict = dict()
gammaHT_dict = dict()
gammaAT_dict = dict()

#intermediate data containers initilization
latest_update_date = dict() #contains latest updates in date of ELO_dict
prev_date_ELO_score = dict() #contains latest ELO_score given to a team for computing new one

prev_season_teams = [team for team in teams] #contains list of teams for the current season
last_teams_ELO_average = 0.0 #contains ELO average of last previous season teams

for team in teams:
    latest_update_date[team] = '2001-01-01'
    prev_date_ELO_score[team] = 0.0

for season in data_table.Season.unique():
    season_match_dates = data_table[data_table['Season'] == season].Date.unique()
    season_teams = data_table[data_table['Season'] == season].HomeTeam.unique()
    last_season_date = season_match_dates[len(season_match_dates) - 1]
    
    for Steam in season_teams:
        if not (Steam in prev_season_teams):
            prev_date_ELO_score[Steam] = last_teams_ELO_average
            
    for date in season_match_dates:
        for team in teams:
            # Se non trovo, per una certa data un certo team, allora per quel team e quella data l'ELO non cambia
            if not ((team in data_table[data_table['Date'] == date]['HomeTeam'].values) | (team in data_table[data_table['Date'] == date]['AwayTeam'].values)):
                ELO_dict[(team, date)] = prev_date_ELO_score[team]
                latest_update_date[team] = date
            # Altrimenti lo aggiorno sulla base del risultato
            else:
                if latest_update_date[team] < date:
                    Hteam = data_table[(data_table['Date'] == date) & ((data_table['HomeTeam'] == team) | (data_table['AwayTeam'] == team))]['HomeTeam'].values[0]
                    Ateam = data_table[(data_table['Date'] == date) & ((data_table['HomeTeam'] == team) | (data_table['AwayTeam'] == team))]['AwayTeam'].values[0]
            
                    l0H = prev_date_ELO_score[Hteam]
                    l0A = prev_date_ELO_score[Ateam]
                    gammaH = 1.0/(1.0 + c**((l0A - l0H)/d))
                    gammaA = 1.0 - gammaH
                    # .values ritorna un array quindi devo prendere il valore e non l'indice
                    alphaH = data_table[(data_table['Date'] == date) & (data_table['HomeTeam'] == Hteam)]['ordinalHR'].values[0]
                    alphaA = 1 - alphaH
                    
                    #compute new scores
                    new_HT_ELO_score = l0H + k * (alphaH - gammaH)
                    new_AT_ELO_score = l0A + k * (alphaA - gammaA)

                    #put new scores in ELO_dict
                    ELO_dict[(Hteam, date)] = new_HT_ELO_score
                    ELO_dict[(Ateam, date)] = new_AT_ELO_score
                    gammaHT_dict[(Hteam, date)] = gammaH
                    gammaAT_dict[(Ateam, date)] = gammaA
                    latest_update_date[Hteam] = date
                    latest_update_date[Ateam] = date
            
                    #update prev_date_ELO_score and latest_update_date
                    prev_date_ELO_score[Hteam] = new_HT_ELO_score
                    prev_date_ELO_score[Ateam] = new_AT_ELO_score
        
        if date == last_season_date:
            ELOs = np.array([prev_date_ELO_score[Steam] for Steam in season_teams])
            ELOs.sort()
            last_teams_ELO_average = np.mean(ELOs[0:-17])
            prev_season_teams = season_teams
            
                        
#make HTeamEloScore, ATeamEloScore and gammaHome features from previously computed dictionaries

def HomeTeamEloScore(row):
    return ELO_dict[(row['HomeTeam'], row['Date'])]

def AwayTeamEloScore(row):
    return ELO_dict[(row['AwayTeam'], row['Date'])]

def gammaHTeamDate(row):
    return gammaHT_dict[(row['HomeTeam'], row['Date'])]

#compute resulting Elo scores important features
data_table.loc[:,'HTeamEloScore'] = data_table.apply(HomeTeamEloScore, axis=1) 
data_table.loc[:,'ATeamEloScore'] = data_table.apply(AwayTeamEloScore, axis=1) 
data_table.loc[:,'gammaHome'] = data_table.apply(gammaHTeamDate, axis=1)

In [27]:

for team in teams:
    homeMatchDates_s = data_table[data_table['HomeTeam'] == team]['Date']
    awayMatchDates_s = data_table[data_table['AwayTeam'] == team]['Date']
    matchDates_s = pd.concat([homeMatchDates_s, awayMatchDates_s]).sort_index()
    lastMatchDates_s = matchDates_s.shift(1)
    matchDates = matchDates_s.values
        
    data_table.loc[data_table['HomeTeam'] == team, 'HTLastMatchDate'] = data_table.loc[data_table['HomeTeam'] == team].index.map(lambda x : lastMatchDates_s[x])
    data_table.loc[data_table['AwayTeam'] == team, 'ATLastMatchDate'] = data_table.loc[data_table['AwayTeam'] == team].index.map(lambda x : lastMatchDates_s[x])
    
def HTdaysBetweenDates(row):
    if not (pd.isnull(row['HTLastMatchDate'])):
        currDate = pd.to_datetime(row['Date'])
        prevDate = pd.to_datetime(row['HTLastMatchDate'])
        ndays = (currDate - prevDate).days 
        if ndays < 20:
            return ndays
        else: 
            return np.nan
    else:
        return np.nan 
    
def ATdaysBetweenDates(row):
    if not (pd.isnull(row['ATLastMatchDate'])):
        currDate = pd.to_datetime(row['Date'])
        prevDate = pd.to_datetime(row['ATLastMatchDate'])
        return (currDate - prevDate).days
    else:
        return np.nan
    
data_table.loc[:, 'HTdaysSinceLastMatch'] = data_table.apply(HTdaysBetweenDates, axis=1)
data_table.loc[:, 'ATdaysSinceLastMatch'] = data_table.apply(ATdaysBetweenDates, axis=1)
data_table.loc[:,'DaysSinceLastMatchRate'] = data_table['HTdaysSinceLastMatch'].astype(float)/data_table['ATdaysSinceLastMatch'].astype(float)

In [28]:

data_table['1_last_HTR_isW'] = data_table['1_last_HTR'].map(lambda x : 1 if x == 'W' else 0)
data_table['1_last_HTR_isL'] = data_table['1_last_HTR'].map(lambda x : 1 if x == 'L' else 0) 
data_table['2_last_HTR_isW'] = data_table['2_last_HTR'].map(lambda x : 1 if x == 'W' else 0)
data_table['2_last_HTR_isL'] = data_table['2_last_HTR'].map(lambda x : 1 if x == 'L' else 0) 
data_table['3_last_HTR_isW'] = data_table['3_last_HTR'].map(lambda x : 1 if x == 'W' else 0)
data_table['3_last_HTR_isL'] = data_table['3_last_HTR'].map(lambda x : 1 if x == 'L' else 0) 

data_table['1_last_ATR_isW'] = data_table['1_last_ATR'].map(lambda x : 1 if x == 'W' else 0)
data_table['1_last_ATR_isL'] = data_table['1_last_ATR'].map(lambda x : 1 if x == 'L' else 0) 
data_table['2_last_ATR_isW'] = data_table['2_last_ATR'].map(lambda x : 1 if x == 'W' else 0)
data_table['2_last_ATR_isL'] = data_table['2_last_ATR'].map(lambda x : 1 if x == 'L' else 0) 
data_table['3_last_ATR_isW'] = data_table['3_last_ATR'].map(lambda x : 1 if x == 'W' else 0)
data_table['3_last_ATR_isL'] = data_table['3_last_ATR'].map(lambda x : 1 if x == 'L' else 0) 

data_table['1_last_HTHR_isW'] = data_table['1_last_HTHR'].map(lambda x : 1 if x == 'W' else 0)
data_table['1_last_HTHR_isL'] = data_table['1_last_HTHR'].map(lambda x : 1 if x == 'L' else 0) 
data_table['2_last_HTHR_isW'] = data_table['2_last_HTHR'].map(lambda x : 1 if x == 'W' else 0)
data_table['2_last_HTHR_isL'] = data_table['2_last_HTHR'].map(lambda x : 1 if x == 'L' else 0)

data_table['1_last_ATAR_isW'] = data_table['1_last_ATAR'].map(lambda x : 1 if x == 'W' else 0)
data_table['1_last_ATAR_isL'] = data_table['1_last_ATAR'].map(lambda x : 1 if x == 'L' else 0) 
data_table['2_last_ATAR_isW'] = data_table['2_last_ATAR'].map(lambda x : 1 if x == 'W' else 0)
data_table['2_last_ATAR_isL'] = data_table['2_last_ATAR'].map(lambda x : 1 if x == 'L' else 0)

In [29]:
# Folds generations custom function 


def foldsGenerator(ixSet, foldMinSize, foldMaxSize, trInitSize, trOptimalSize = -1):
    
    subsetsList = []
    subsetsList.append(ixSet[0:trInitSize])
    Nsubsets = 1
    
    ixSetLength = ixSet.size
    
    unfoldedSetSize = ixSetLength - trInitSize
    prevSubsetStop = trInitSize
    
    while (unfoldedSetSize > foldMaxSize):
        nextFoldSize = random.randint(foldMinSize, foldMaxSize)
        
        subsetsList.append(ixSet[prevSubsetStop:(prevSubsetStop + nextFoldSize)])
        
        unfoldedSetSize -= nextFoldSize
        prevSubsetStop += nextFoldSize
        Nsubsets += 1
    
    subsetsList.append(ixSet[prevSubsetStop:])
    Nsubsets += 1    
    return (Nsubsets, subsetsList)

#test
#sub = foldsGenerator(data_table_tr.index, 40, 55, 700)

In [30]:
#Scores functions implementation

def brierScore(probW, probL, probD, true, classLabels):
    
    trueW = true.map(lambda x : 1 if x == classLabels['W'] else 0).values
    trueL = true.map(lambda x : 1 if x == classLabels['L'] else 0).values
    trueD = true.map(lambda x : 1 if x == classLabels['D'] else 0).values
    
    cumulScore = (probW - trueW)*(probW - trueW) + (probL - trueL)*(probL - trueL) + (probD - trueD)*(probD - trueD)
    
    return float(np.sum(cumulScore))/float(true.index.size)

def rankProbabilityScore(probW, probL, probD, true, classLabels):
    trueW = true.map(lambda x : 1 if x == classLabels['W'] else 0).values
    trueL = true.map(lambda x : 1 if x == classLabels['L'] else 0).values
    trueD = true.map(lambda x : 1 if x == classLabels['D'] else 0).values
    
    true1 = trueL
    true2 = trueL + trueD
    
    prob1 = probL
    prob2 = probL + probD
    
    cumulScore = (prob1 - true1)*(prob1 - true1) + (prob2 - true2) * (prob2 - true2)
    
    return(float(np.sum(cumulScore))/(2.0 * float(true.index.size)))

In [31]:
from sklearn.impute import SimpleImputer
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from IPython.display import display

#Create X and Y
X = pd.get_dummies(data_table[['HomeTeam', 'AwayTeam', 'HTeamEloScore', 'ATeamEloScore', 'HTdaysSinceLastMatch',
                            'ATdaysSinceLastMatch', 'HTW_rate', 'ATW_rate',
                            'ATD_rate', 'HTD_rate', 
                '7_HTW_rate', '12_HTW_rate', '7_ATW_rate', '12_ATW_rate', 
                '7_HTD_rate', '12_HTD_rate', '7_ATD_rate', '12_ATD_rate',
                '7_HTL_rate', '12_HTL_rate', '7_ATL_rate', '12_ATL_rate',
                '5_HTHW_rate', '5_ATAW_rate']])
Y = data_table[['FTR']]

#X preprocessing
imputer = SimpleImputer()
X_imputed = imputer.fit_transform(X)

#Split X and Y into training and Test Sets
x_train, x_test, y_train, y_test = train_test_split(X_imputed, Y, shuffle=True)

#Logistic Regression Model Setup
model = LogisticRegression()
model.fit(x_train, y_train)

#Logistic Regression Model Metrics
print("Logestic Regression")
print("Train Score: ", model.score(x_train, y_train))
print("Test Score: ", model.score(x_test, y_test))
print(classification_report(y_test, model.predict(x_test), digits=3))

#Forest model setup
forest = RandomForestClassifier(n_estimators=2, random_state=2)
forest.fit(x_train, y_train)

#Forest Model Metrics
print("Forest Classifier")
print("Train Score: ", forest.score(x_train, y_train))
print("Test Score: ", forest.score(x_test, y_test))
print(classification_report(y_test, forest.predict(x_test), digits=3))

print(y_test.shape)
print(forest.predict(x_test).shape)

/opt/anaconda3/envs/mlproj/lib/python3.10/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/anaconda3/envs/mlproj/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Logestic Regression
Train Score:  0.5888357256778309
Test Score:  0.5655502392344498
              precision    recall  f1-score   support

           A      0.526     0.544     0.535       298
           D      0.355     0.108     0.166       250
           H      0.608     0.809     0.694       497

    accuracy                          0.566      1045
   macro avg      0.496     0.487     0.465      1045
weighted avg      0.524     0.566     0.522      1045

Forest Classifier
Train Score:  0.8073365231259968
Test Score:  0.4028708133971292
              precision    recall  f1-score   support

           A      0.387     0.584     0.465       298
           D      0.242     0.324     0.277       250
           H      0.638     0.334     0.439       497

    accuracy                          0.403      1045
   macro avg      0.422     0.414     0.394      1045
weighted avg      0.472     0.403     0.408      1045

(1045, 1)
(1045,)

/var/folders/c2/dnpzswqd7ll8qj2knwvlk3v80000gn/T/ipykernel_3208/3191529813.py:37: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  forest.fit(x_train, y_train)

In [32]:
pd.set_option('display.max_columns', None)

display(data_table.head(20))

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTAG,B365A,B365D,B365H,BSA,BSD,BSH,BWA,BWD,BWH,GBA,GBD,GBH,IWA,IWD,IWH,LBA,LBD,LBH,PSA,PSD,PSH,SBA,SBD,SBH,SJA,SJD,SJH,VCA,VCD,VCH,WHA,WHD,WHH,matchID,Season,HomeTeamDay,AwayTeamDay,ones,HomeTeamHomeDay,AwayTeamAwayDay,HW,AW,D,HR,AR,ordinalHR,1_last_HTR,2_last_HTR,3_last_HTR,1_last_ATR,2_last_ATR,3_last_ATR,1_last_HTHR,2_last_HTHR,1_last_ATAR,2_last_ATAR,HTW_rate,ATW_rate,HTD_rate,ATD_rate,7_HTW_rate,12_HTW_rate,7_ATW_rate,12_ATW_rate,7_HTD_rate,12_HTD_rate,7_ATD_rate,12_ATD_rate,5_HTHW_rate,5_ATAW_rate,HTHW_rate,HTHD_rate,ATAW_rate,ATAD_rate,7_HTL_rate,12_HTL_rate,7_ATL_rate,12_ATL_rate,HTL_rate,ATL_rate,HTHL_rate,ATAL_rate,HTeamEloScore,ATeamEloScore,gammaHome,HTLastMatchDate,ATLastMatchDate,HTdaysSinceLastMatch,ATdaysSinceLastMatch,DaysSinceLastMatchRate,1_last_HTR_isW,1_last_HTR_isL,2_last_HTR_isW,2_last_HTR_isL,3_last_HTR_isW,3_last_HTR_isL,1_last_ATR_isW,1_last_ATR_isL,2_last_ATR_isW,2_last_ATR_isL,3_last_ATR_isW,3_last_ATR_isL,1_last_HTHR_isW,1_last_HTHR_isL,2_last_HTHR_isW,2_last_HTHR_isL,1_last_ATAR_isW,1_last_ATAR_isL,2_last_ATAR_isW,2_last_ATAR_isL
0,2008-08-16,Arsenal,West Brom,1,0,H,0,15.00,6.50,1.20,13.00,5.00,1.22,10.00,5.50,1.22,13.00,5.50,1.22,11.00,5.2,1.20,11.00,5.00,1.20,NaN,NaN,NaN,12.00,5.50,1.20,12.00,5.50,1.20,13.00,6.00,1.25,12.00,5.50,1.17,0,2008,1,1,1,1.0,1.0,1,0,0,W,L,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,-10.000000,0.500000,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2008-08-16,Bolton,Stoke,3,1,H,0,4.50,3.50,1.83,4.33,3.25,1.80,4.40,3.30,1.75,4.50,3.25,1.83,4.20,3.3,1.75,4.00,3.40,1.73,NaN,NaN,NaN,4.20,3.25,1.80,4.33,3.20,1.80,4.80,3.40,1.85,4.00,3.10,1.80,1,2008,1,1,1,1.0,1.0,1,0,0,W,L,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,-10.000000,0.500000,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2008-08-16,Everton,Blackburn,2,3,A,1,4.00,3.30,2.00,3.50,3.25,2.00,4.00,3.25,1.85,3.75,3.25,2.00,3.30,3.2,2.00,4.00,3.20,1.80,NaN,NaN,NaN,3.75,3.25,1.90,3.40,3.25,2.00,4.00,3.30,2.05,3.50,3.10,1.95,2,2008,1,1,1,1.0,1.0,0,1,0,L,W,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-10.000000,10.000000,0.500000,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2008-08-16,Hull,Fulham,2,1,H,1,2.80,3.20,2.60,2.50,3.25,2.60,2.65,3.15,2.45,2.60,3.25,2.60,2.60,3.2,2.40,2.50,3.25,2.40,NaN,NaN,NaN,2.60,3.20,2.50,2.75,3.20,2.38,2.80,3.40,2.60,2.62,2.90,2.50,3,2008,1,1,1,1.0,1.0,1,0,0,W,L,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,-10.000000,0.500000,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2008-08-16,Middlesbrough,Tottenham,2,1,H,0,2.25,3.40,3.20,2.30,3.25,2.80,2.30,3.20,2.80,2.30,3.25,3.00,2.20,3.2,2.90,2.20,3.20,2.80,NaN,NaN,NaN,2.30,3.20,2.80,2.20,3.40,2.88,2.30,3.40,3.20,2.15,3.20,2.90,4,2008,1,1,1,1.0,1.0,1,0,0,W,L,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,-10.000000,0.500000,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,2008-08-16,Sunderland,Liverpool,0,1,A,0,1.67,3.60,5.50,1.73,3.40,4.50,1.67,3.35,5.00,1.70,3.40,5.00,1.65,3.5,4.50,1.67,3.30,4.50,NaN,NaN,NaN,1.65,3.40,5.00,1.73,3.40,4.33,1.65,3.80,5.50,1.57,3.30,5.50,5,2008,1,1,1,1.0,1.0,0,1,0,L,W,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-10.000000,10.000000,0.500000,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,2008-08-16,West Ham,Wigan,2,1,H,0,4.20,3.40,1.91,3.80,3.25,1.91,3.80,3.20,1.90,4.00,3.25,1.91,3.80,3.3,1.80,4.00,3.20,1.80,NaN,NaN,NaN,3.75,3.25,1.90,3.75,3.25,1.91,4.35,3.50,1.90,3.75,3.20,1.83,6,2008,1,1,1,1.0,1.0,1,0,0,W,L,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,-10.000000,0.500000,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,2008-08-17,Chelsea,Portsmouth,4,0,H,0,10.00,5.00,1.33,10.00,4.20,1.33,8.25,4.75,1.30,9.00,4.75,1.33,8.50,4.4,1.30,9.00,4.33,1.29,NaN,NaN,NaN,9.00,4.50,1.30,10.00,5.00,1.25,11.00,5.00,1.33,8.50,4.20,1.30,7,2008,1,1,1,1.0,1.0,1,0,0,W,L,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,-10.000000,0.500000,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,2008-08-17,Aston Villa,Man City,4,2,H,0,4.33,3.40,1.91,3.75,3.30,1.91,3.60,3.20,1.95,4.00,3.25,1.91,3.30,3.2,2.00,3.75,3.20,1.83,NaN,NaN,NaN,3.75,3.25,1.90,3.75,3.25,1.91,4.35,3.50,1.90,3.50,3.20,1.91,8,2008,1,1,1,1.0,1.0,1,0,0,W,L,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,-10.000000,0.500000,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,2008-08-17,Man United,Newcastle,1,1,D,1,11.00,5.50,1.29,11.00,4.50,1.29,8.25,4.75,1.30,10.00,4.75,1.30,8.50,4.4,1.30,10.00,4.50,1.25,NaN,NaN,NaN,10.00,5.00,1.25,10.00,5.00,1.25,12.00,5.50,1.28,10.00,4.50,1.25,9,2008,1,1,1,1.0,1.0,0,0,1,D,D,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.500000,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,2008-08-23,Liverpool,Middlesbrough,2,1,H,0,10.00,4.50,1.36,8.50,4.00,1.40,7.20,4.50,1.35,8.00,4.33,1.38,6.50,4.0,1.40,9.00,4.20,1.40,NaN,NaN,NaN,8.00,4.50,1.33,8.00,4.50,1.40,8.50,4.60,1.40,9.50,4.50,1.36,10,2008,2,2,1,1.0,1.0,1,0,0,W,L,1.0,W,NaN,NaN,W,NaN,NaN,NaN,NaN,NaN,NaN,0.5,0.5,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,0.5,NaN,NaN,20.000000,0.000000,0.500000,2008-08-16,2008-08-16,7.0,7.0,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
11,2008-08-23,Newcastle,Bolton,1,0,H,0,4.75,3.50,1.80,4.75,3.25,1.80,4.70,3.35,1.70,4.50,3.30,1.80,4.20,3.3,1.75,4.50,3.50,1.80,NaN,NaN,NaN,4.50,3.40,1.70,4.50,3.50,1.80,4.80,3.50,1.80,4.50,3.40,1.83,11,2008,2,2,1,1.0,1.0,1,0,0,W,L,1.0,D,NaN,NaN,W,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.5,0.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,0.5,NaN,NaN,10.287744,-0.287744,0.485613,2008-08-17,2008-08-16,6.0,7.0,0.857143,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
12,2008-08-23,Tottenham,Sunderland,1,2,A,0,7.00,4.00,1.50,6.50,3.75,1.50,7.50,4.00,1.40,6.50,3.75,1.53,5.50,3.8,1.50,7.00,3.75,1.53,NaN,NaN,NaN,6.75,3.80,1.45,7.50,3.80,1.50,7.00,4.20,1.50,7.50,4.20,1.44,12,2008,2,2,1,1.0,1.0,0,1,0,L,W,0.0,L,NaN,NaN,L,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,-20.000000,0.000000,0.500000,2008-08-16,2008-08-16,7.0,7.0,1.000000,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
13,2008-08-23,West Brom,Everton,1,2,A,0,2.50,3.25,2.88,2.50,3.25,2.70,2.45,3.15,2.65,2.50,3.20,2.75,2.30,3.1,2.80,2.50,3.30,2.80,NaN,NaN,NaN,2.50,3.20,2.60,2.50,3.20,2.88,2.50,3.30,2.90,2.62,3.30,2.62,13,2008,2,2,1,1.0,1.0,0,1,0,L,W,0.0,L,NaN,NaN,L,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,-20.000000,0.000000,0.500000,2008-08-16,2008-08-16,7.0,7.0,1.000000,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
14,2008-08-23,Blackburn,Hull,1,1,D,1,7.00,3.75,1.57,6.00,3.60,1.57,6.00,3.45,1.55,5.50,3.60,1.60,4.80,3.6,1.60,6.00,3.60,1.62,NaN,NaN,NaN,5.50,3.50,1.57,6.00,3.60,1.62,7.00,3.75,1.55,6.00,3.80,1.57,14,2008,2,2,1,1.0,1.0,0,0,1,D,D,0.5,W,NaN,NaN,W,NaN,NaN,NaN,NaN,NaN,NaN,0.5,0.5,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,0.5,NaN,NaN,10.000000,10.000000,0.500000,2008-08-16,2008-08-16,7.0,7.0,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
15,2008-08-23,Fulham,Arsenal,1,0,H,0,1.57,3.75,6.50,1.57,3.60,6.00,1.55,3.45,6.00,1.60,3.50,6.00,1.60,3.5,5.00,1.62,3.60,6.00,NaN,NaN,NaN,1.57,3.50,5.50,1.57,3.75,6.50,1.55,3.90,6.50,1.57,3.80,6.00,15,2008,2,2,1,1.0,1.0,1,0,0,W,L,1.0,L,NaN,NaN,W,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.5,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.5,NaN,NaN,0.575011,-0.575011,0.471249,2008-08-16,2008-08-16,7.0,7.0,1.000000,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
16,2008-08-23,Stoke,Aston Villa,3,2,H,0,1.73,3.60,5.00,1.73,3.30,5.00,1.70,3.40,4.65,1.73,3.40,5.00,1.70,3.4,4.30,1.80,3.25,5.00,NaN,NaN,NaN,1.70,3.40,4.50,1.73,3.50,5.00,1.70,3.70,5.30,1.70,3.60,5.00,16,2008,2,2,1,1.0,1.0,1,0,0,W,L,1.0,L,NaN,NaN,W,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.5,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.5,NaN,NaN,0.575011,-0.575011,0.471249,2008-08-16,2008-08-17,7.0,6.0,1.166667,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
17,2008-08-24,Man City,West Ham,3,0,H,0,3.20,3.25,2.30,3.00,3.25,2.25,3.25,3.15,2.10,3.10,3.25,2.25,3.10,3.2,2.10,3.20,3.30,2.25,NaN,NaN,NaN,2.90,3.20,2.25,3.40,3.20,2.20,3.30,3.25,2.30,3.20,3.30,2.25,17,2008,2,2,1,1.0,1.0,1,0,0,W,L,1.0,L,NaN,NaN,W,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.5,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.5,NaN,NaN,0.575011,-0.575011,0.471249,2008-08-17,2008-08-16,7.0,8.0,0.875000,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
18,2008-08-24,Wigan,Chelsea,0,1,A,1,1.40,4.50,8.50,1.44,3.75,8.50,1.35,4.25,8.00,1.42,4.25,7.50,1.40,4.0,6.50,1.44,4.00,8.00,NaN,NaN,NaN,1.40,4.00,7.50,1.40,4.50,8.00,1.40,4.80,8.00,1.40,4.33,8.50,18,2008,2,2,1,1.0,1.0,0,1,0,L,W,0.0,L,NaN,NaN,W,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.5,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.5,NaN,NaN,-19.424989,19.424989,0.471249,2008-08-16,2008-08-17,8.0,7.0,1.142857,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
19,2008-08-25,Portsmouth,Man United,0,1,A,1,1.80,3.40,4.80,1.75,3.40,5.00,1.65,3.40,5.00,1.83,3.30,4.60,1.75,3.3,4.20,1.73,3.50,5.00,NaN,NaN,NaN,1.70,3.40,4.50,1.80,3.25,5.00,1.80,3.40,5.00,1.80,3.30,4.80,19,2008,2,2,1,1.0,1.0,0,1,0,L,W,0.0,L,NaN,NaN,D,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.5,NaN,NaN,-19.712256,9.712256,0.485613,2008-08-17,2008-08-17,8.0,8.0,1.000000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [33]:
import tensorflow.compat.v1 as tf

#make TF work like the TF in the HWs
tf.disable_v2_behavior()

#Other feature selections
'''#X = pd.get_dummies(data_table[['HomeTeam', 'AwayTeam', 'HTeamEloScore', 'ATeamEloScore', 'HTdaysSinceLastMatch',
                            'ATdaysSinceLastMatch']])
X = pd.get_dummies(data_table[['HomeTeam', 'AwayTeam', 'FTAG', 'FTHG']])
X = pd.get_dummies(data_table[['HomeTeam', 'AwayTeam', 'FTR']])
X = pd.get_dummies(data_table.drop(['FTR',  'HTAG', 'Date', 'matchID', 'HW', 'AW', 'D', 'AR',
                                 'ordinalHR', 'Season'], axis=1))'''

#Setup Data
X = pd.get_dummies(data_table[['HomeTeam', 'AwayTeam', 'HTeamEloScore', 'ATeamEloScore', 'HTdaysSinceLastMatch',
                            'ATdaysSinceLastMatch', 'HTW_rate', 'ATW_rate',
                            'ATD_rate', 'HTD_rate', 
                '7_HTW_rate', '12_HTW_rate', '7_ATW_rate', '12_ATW_rate', 
                '7_HTD_rate', '12_HTD_rate', '7_ATD_rate', '12_ATD_rate',
                '7_HTL_rate', '12_HTL_rate', '7_ATL_rate', '12_ATL_rate',
                '5_HTHW_rate', '5_ATAW_rate']])

Y = data_table[['ordinalHR']].to_numpy().ravel()*2



#X preprocessing
imputer = SimpleImputer()
X_imputed = imputer.fit_transform(X)

#Split X and Y into training and Test Sets
x_train, x_test, y_train, y_test = train_test_split(X_imputed, Y, shuffle=True)

#Neural Network Setup
n_inputs = X.shape[1]
n_hidden1 = 300
n_hidden2 = 100
n_outputs = 3

#Tensorflow X and Y
X = tf.placeholder(tf.float32, shape = (None, n_inputs), name = 'X')
Y = tf.placeholder(tf.int32, shape = (None), name = 'Y')

#Function used to better display model metrics
def convert_ordinalHR(x):
    y=[]
    for i in range(x.size):
        if x[i] == 0:
            y.append('A')
        elif x[i] == 2:
            y.append('H')
        elif x[i] == 1:
            y.append('D')
    return y

#General Function for neural layer setup
def neuron_layer(X, n_neurons, name, activation = None):
    with tf.name_scope(name):
        n_inputs = int(X.get_shape()[1])
        stddev = 2 / np.sqrt(n_inputs + n_neurons)
        init = tf.truncated_normal((n_inputs, n_neurons), stddev=stddev)
        W = tf.Variable(init, name = 'kernel')
        b = tf.Variable(tf.zeros([n_neurons]), name='bias')
        L2 = tf.nn.l2_loss(W)
        Z = tf.matmul(X,W)+b
        if activation is not None:
            return activation(Z), L2
        else:
            return Z, L2

#Tensorflow neural layer setup
with tf.name_scope('dnn'):
    hidden1, L2_1 = neuron_layer(X, n_hidden1, name='hidden1', activation=tf.nn.relu)
    hidden2, L2_2 = neuron_layer(hidden1, n_hidden2, name='hidden2', activation=tf.nn.relu)
    logits, L2_3 = neuron_layer(hidden2, n_outputs, name='outputs', activation=None)


#Loss function
beta=0.01
with tf.name_scope('loss'):
    xentropy = tf.nn.sparse_softmax_cross_entropy_with_logits(labels = Y, logits=logits)
    loss = tf.reduce_mean(xentropy+beta*(L2_1+L2_2+L2_3), name='loss')


#Optimizer
learning_rate = 0.000001
with tf.name_scope('train'):
    optimizer = tf.train.AdamOptimizer(learning_rate)
    training_op = optimizer.minimize(loss)

#Metric analysis setup
with tf.name_scope('eval'):
    correct = tf.nn.in_top_k(logits, Y, 1)
    accuracy = tf.reduce_mean(tf.cast(correct, tf.float32))
    preds = tf.argmax(input=logits, axis=1)
    
#Initialize the above tensorflow variables    
init = tf.global_variables_initializer()

#Runtime and batchsetup
n_epochs = 30000
batch_size = 50

#Run the model
with tf.Session() as sess:
    init.run()
    #Model Loop
    for epoch in range(n_epochs):
        sess.run(training_op, feed_dict={X: x_train, Y: y_train})
        acc_train = accuracy.eval(feed_dict={X: x_train, Y: y_train})
        acc_val = accuracy.eval(feed_dict={X: x_test, Y: y_test})
        if(epoch % 200 == 0 or epoch==n_epochs-1):
            print(epoch, 'Train accuracy:', acc_train, 'Val accuracy:', acc_val)
    
    #Retrive Metrics
    acc_val = accuracy.eval(feed_dict={X: x_test, Y: y_test})
    preds = preds.eval(feed_dict = {X:x_test})
    log = logits.eval(feed_dict = {X:x_test})
    preds=convert_ordinalHR(preds)
    y_test=convert_ordinalHR(y_test)
    
    #Print Metrics
    print('Train accuracy:', acc_train, 'Val accuracy:', acc_val)
    print(classification_report(y_test, preds, digits=3))

0 Train accuracy: 0.34226474 Val accuracy: 0.34066987
200 Train accuracy: 0.3524721 Val accuracy: 0.35023925
400 Train accuracy: 0.3722488 Val accuracy: 0.3722488
600 Train accuracy: 0.40478468 Val accuracy: 0.38851675
800 Train accuracy: 0.42775118 Val accuracy: 0.41244018
1000 Train accuracy: 0.43923444 Val accuracy: 0.42966506
1200 Train accuracy: 0.45295057 Val accuracy: 0.44880384
1400 Train accuracy: 0.4755981 Val accuracy: 0.46411484
1600 Train accuracy: 0.48963317 Val accuracy: 0.4755981
1800 Train accuracy: 0.49792662 Val accuracy: 0.4832536
2000 Train accuracy: 0.50972885 Val accuracy: 0.48995215
2200 Train accuracy: 0.5106858 Val accuracy: 0.4985646
2400 Train accuracy: 0.507815 Val accuracy: 0.49760765
2600 Train accuracy: 0.5103668 Val accuracy: 0.4937799
2800 Train accuracy: 0.50685805 Val accuracy: 0.4937799
3000 Train accuracy: 0.50972885 Val accuracy: 0.50239235
3200 Train accuracy: 0.5125997 Val accuracy: 0.5043062
3400 Train accuracy: 0.51164275 Val accuracy: 0.50813395
3600 Train accuracy: 0.51419455 Val accuracy: 0.5062201
3800 Train accuracy: 0.51770335 Val accuracy: 0.50526315
4000 Train accuracy: 0.5196172 Val accuracy: 0.50717705
4200 Train accuracy: 0.52376395 Val accuracy: 0.51004785
4400 Train accuracy: 0.5279107 Val accuracy: 0.51291865
4600 Train accuracy: 0.5336523 Val accuracy: 0.5110048
4800 Train accuracy: 0.53460926 Val accuracy: 0.51004785
5000 Train accuracy: 0.5397129 Val accuracy: 0.50717705
5200 Train accuracy: 0.5429027 Val accuracy: 0.5119617
5400 Train accuracy: 0.5489633 Val accuracy: 0.5119617
5600 Train accuracy: 0.5473684 Val accuracy: 0.5167464
5800 Train accuracy: 0.5502392 Val accuracy: 0.52057415
6000 Train accuracy: 0.55311006 Val accuracy: 0.5263158
6200 Train accuracy: 0.55629987 Val accuracy: 0.52822965
6400 Train accuracy: 0.55917066 Val accuracy: 0.5291866
6600 Train accuracy: 0.56076556 Val accuracy: 0.5291866
6800 Train accuracy: 0.56236047 Val accuracy: 0.53110045
7000 Train accuracy: 0.5658692 Val accuracy: 0.53110045
7200 Train accuracy: 0.56523126 Val accuracy: 0.5320574
7400 Train accuracy: 0.56523126 Val accuracy: 0.5339713

KeyboardInterrupt:

In [36]:
from cgi import print_arguments
import tensorflow as tf
from tensorflow.keras import layers

#Functions to manipulate data for use in the model
# Home win = [1,0,0]
# Away win = [0,1,0]
# None win = [0,0,1]
def one_hot_y(Y):
    Y_new = np.zeros((Y.shape[0],3))
    for i in range(Y.shape[0]-1):
        if (Y[i] == 'H'):
            Y_new[i]=[1,0,0]
        elif (Y[i] == 'A'):
            Y_new[i]=[0,1,0]
        elif (Y[i] == 'D'):
            Y_new[i]=[0,0,1]
    return Y_new

def revert_yoh(Y):
    Y_new = np.empty([Y.shape[0],Y.shape[1]], dtype="<U1")
    #Y_new = np.zeros((Y.shape[0],Y.shape[1]))
    for i in range(Y.shape[0]):
        for j in range(Y.shape[1]):
            if (Y[i, j] == 0):
                Y_new[i, j]= 'H'
            elif (Y[i, j] == 1):
                Y_new[i, j]= 'A'
            elif (Y[i, j] == 2):
                Y_new[i, j]='D'
    return Y_new

trn_ssn = [2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]
trn_ssn_len = len(trn_ssn)
tst_ssn = [2016,2017,2018] 
tst_ssn_len = len(tst_ssn)
    
# e.g. (a_prev=x_train, season=trn_ssn)
def time_step(a_prev,season):
    a_prev = a_prev[np.newaxis, ...]
    print(a_prev.shape) # (1, 3040, ...)
    totalMatches = len(season)*38
    prev_f = a_prev.shape[2]
    print("a_prev.shape[1]", a_prev.shape[1]) # rows
    print("a_prev.shape[2]", a_prev.shape[2]) # columns
    input_step = int(a_prev.shape[1]/totalMatches)
    step = 0
    a_new = np.zeros((totalMatches, input_step, prev_f))
    for i in range(totalMatches):
        # rows divise in porzioni di totalMatches rows
        step += input_step
        # per tutte le righe nell'intervallo di righe che stiamo guardando ora 
        # va in ogni porzione di righe di volta in volta
        for j in range(step-input_step,step):
            # per ogni colonna
            for k in range(prev_f):
                a_new[i,j-input_step*i,k] = a_prev[:,j,k]
    return a_new
    
'''X = pd.get_dummies(data_table[['HomeTeam', 'AwayTeam', 'HTeamEloScore', 'ATeamEloScore', 'HTdaysSinceLastMatch',
                            'ATdaysSinceLastMatch', 'HTdaysSinceLastMatch', 'ATdaysSinceLastMatch', 'HTW_rate', 'ATW_rate',
                            'ATD_rate', 'HTD_rate', '1_last_HTR_isW', '1_last_HTR_isL', '1_last_ATR_isW', '1_last_ATR_isL']])'''

#   Survived  Pclass     Sex   Age     Fare
#0         0       3    male  22.0   7.2500
#1         1       1  female  38.0  71.2833
#2         1       3  female  26.0   7.9250
#3         1       1  female  35.0  53.1000
#4         0       3    male  35.0   8.0500
# -----------------------------------------
# get_dummies(dataset, column = ['sex']): associa codifica a valori testuali e scompone la colonna in pià colonne con le codifiche relative
#   Survived  Pclass  Age     Fare  Sex_female  Sex_male
#0         0       3   22   7.2500           0         1
#1         1       1   38  71.2833           1         0
#2         1       3   26   7.9250           1         0
#3         1       1   35  53.1000           1         0
#4         0       3   35   8.0500           0         1
# -----------------------------------------
# get_dummies(dataset['sex']):
#   female  male
#0       0     1
#1       1     0
#2       1     0
#3       1     0
#4       0     1
features = ['HomeTeam', 'AwayTeam', 
            'HTeamEloScore', 'ATeamEloScore', 
            'HTdaysSinceLastMatch', 'ATdaysSinceLastMatch', 
            'HTW_rate', 'ATW_rate', 'ATD_rate', 'HTD_rate', 
            '7_HTW_rate', '12_HTW_rate', '7_ATW_rate', '12_ATW_rate', 
            '7_HTD_rate', '12_HTD_rate', '7_ATD_rate', '12_ATD_rate',
            '7_HTL_rate', '12_HTL_rate', '7_ATL_rate', '12_ATL_rate',
            '5_HTHW_rate', '5_ATAW_rate']
X = pd.get_dummies(data_table[features])
#X.to_csv("./input/dataset.csv")

Y = data_table[['FTR']].to_numpy().ravel()

#XY preprocessing
# Replace missing values using a descriptive statistic (e.g. mean, median, or most frequent) along each column, or using a constant value
# Default = mean
imputer = SimpleImputer()
X_imputed = imputer.fit_transform(X)
pd.DataFrame(X_imputed).to_csv("./input/datasetImputed.csv")
Y = one_hot_y(Y)

# ========================================================================================== #
# ========================================RIVEDI============================================ #
# ========================================================================================== #
test_size = float(tst_ssn_len)/(tst_ssn_len+trn_ssn_len)
#Split X and Y into training and Test Sets
x_train, x_test, y_train, y_test = train_test_split(X_imputed, Y, shuffle=False, test_size=test_size)
#pd.DataFrame(x_train).to_csv("./input/x_train.csv")
print(x_train.shape)
#pd.DataFrame(y_train).to_csv("./input/y_train.csv")

#Setup XY to have 10 game steps
x_train = time_step(x_train,trn_ssn)
y_train = time_step(y_train,trn_ssn)
y_train = np.moveaxis(y_train, 0, 1)
x_test = time_step(x_test,tst_ssn)
y_test = time_step(y_test,tst_ssn)
y_test = np.moveaxis(y_test, 0, 1)

Tx= x_train.shape[1] #Time steps
Ty= y_train.shape[0] #Time Steps
num_features = x_train.shape[2] #Features per step

(3040, 94)
(1, 3040, 94)
a_prev.shape[1] 3040
a_prev.shape[2] 94
(1, 3040, 3)
a_prev.shape[1] 3040
a_prev.shape[2] 3
(1, 1140, 94)
a_prev.shape[1] 1140
a_prev.shape[2] 94
(1, 1140, 3)
a_prev.shape[1] 1140
a_prev.shape[2] 3

In [ ]:
#Create and Setup Model
fbmodel = tf.keras.Sequential()
inputs = tf.keras.Input(shape=(Tx, num_features))
outputs = []
for t in range(Ty):
    x = tf.keras.layers.Lambda(lambda z: inputs[:, t,:])(inputs)

    x = tf.keras.layers.Reshape((1, num_features))(x)
    
    x = tf.keras.layers.LSTM(units=16, kernel_regularizer=tf.keras.regularizers.l1_l2(l1=1e-5, l2=1e-1))(x)

    x = tf.keras.layers.Dropout(rate=0.8)(x)
    
    out = tf.keras.layers.Dense(3, activation='softmax')(x)
    
    outputs.append(out)
    
fbmodel = tf.keras.Model(inputs=inputs, outputs=outputs)
fbmodel.summary()

fbmodel.compile(
    loss='categorical_crossentropy',
    optimizer=tf.keras.optimizers.Adam(0.001)
#    ,metrics=[tf.keras.metrics.Accuracy()]
)

In [ ]:
#Train Model
history = fbmodel.fit(
    x_train, list(y_train),
    epochs=10000,
    batch_size=64,
    #validation_split=0.272727,
    #show = epoch%100==0,
    verbose=1,
    shuffle=False,
    
)

In [ ]:
#Model Metrics Data Setup
y_pred = fbmodel.predict(x_test)
y_predm = np.asarray(y_pred)
y_predm = np.argmax(y_predm, axis=2)
y_testm = np.argmax(y_test, axis = 2)

y_pred_train = fbmodel.predict(x_train)
y_pred_train = np.asarray(y_pred_train)
y_predm_train = np.argmax(y_pred_train, axis=2)
y_trainm = np.argmax(y_train, axis = 2)

y_predm = revert_yoh(y_predm).ravel()
y_testm = revert_yoh(y_testm).ravel()

y_predm_train = revert_yoh(y_predm_train).ravel()
y_trainm = revert_yoh(y_trainm).ravel()

#Model Metrics
print('Train Score: ', accuracy_score(y_trainm,y_predm_train))
print('Test Score: ', accuracy_score(y_testm, y_predm))
print(classification_report(y_testm, y_predm, digits=3))